.navbar {
    background-color:rgb(203, 203, 253);
    padding: 10px;
    margin-bottom: 20px;
   
}

.navbar a {
    align-items: center;
    margin: 30px;
    text-decoration: none;
    color:black;
    font-weight: bold;
}

.navbar a:hover {
    color:blue;
}

.button {
    background-color: rgb(50, 50, 50);

}